/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #42b86a;
  --ifm-color-primary-dark: #42b86a;
  --ifm-color-primary-darker: #42b86a;
  --ifm-color-primary-darkest: #42b86a;
  --ifm-color-primary-light: #42b86a;
  --ifm-color-primary-lighter: #42b86a;
  --ifm-color-primary-lightest: #42b86a;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
